.btnContador{
    background-color: rgb(80, 146, 211);
    color: white;
    padding-left:10px;
    padding-right: 10px;
   margin-bottom: 15px;
    gap: 3rem;
  
   
}
.btnContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 2px solid black;
    margin-top: 3rem;
    
}
.botones{
    display:inline-flex;
    gap: .5rem;
    
}
.imgProducto{
    width: 200px;
}